.container {
    /* outlines the container */
    /* border: 1px solid black; */

    display: flex;

    /* centers content within the container */
    justify-content: center;


    align-items: center;

    /* vertical height */
    height: 100vh;
}